<div
        data-controller="zhortein--symfony-toolbox-bundle--datatable"
        data-zhortein--symfony-toolbox-bundle--datatable-id-value="{{ datatableId }}"
        data-zhortein--symfony-toolbox-bundle--datatable-mode-value="{{ datatable.cssMode }}"
        data-zhortein--symfony-toolbox-bundle--datatable-pagesize-value="{{ datatable.defaultPageSize }}"
        data-zhortein--symfony-toolbox-bundle--datatable-url-value="{{ path('zhortein_datatable_fetch_data', {'datatableId': datatableId}) }}"
        {{ attributes }} class="">
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="error" class="datatable-error hidden"></div>
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="search" class="datatable-search hidden"></div>
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="spinner" class="datatable-spinner hidden">{{ 'datatable.loading'|trans({}, transDomain) }}</div>
    <table class="datatable table">
        <thead>
        <tr>
            {% for column in datatable.columns %}
                {% if column.header.keep_default_classes %}
                    {% set headerCssClasses = '' %}
                {% endif %}
                {% set headerCssClasses = headerCssClasses ~ ' ' ~ column.header.class %}
                <th
                        scope="col"
                        class="{{ headerCssClasses }}"
                        data-action="click->zhortein--symfony-toolbox-bundle--datatable#sort"
                        data-field="{{ column.name }}"
                        {% for headerKey,headerValue in column.header %}
                            {% if headerKey == 'data' %}
                                {% for dataKey,dataValue in column.header.data %}
                                    {% if dataKey != 'field' and dataKey != 'action' %}
                                        data-{{ dataKey }}="{{ dataValue }}"
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if headerKey != 'class' and headerKey != 'data' and headerKey != 'keep_default_classes' %}
                                {{ headerKey }}="{{ headerValue }}"
                            {% endif %}
                        {% endfor %}
                >{{ column.label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="" data-zhortein--symfony-toolbox-bundle--datatable-target="table">
        <!-- Initial rows will be populated dynamically -->
        </tbody>
        {% if datatable.displayFooter %}
            <tfoot class="" data-zhortein--symfony-toolbox-bundle--datatable-target="footer">
            {# @todo Datatable footer : To be implemented #}
            </tfoot>
        {% endif %}
    </table>
    <nav class="datatable-pagination" aria-label="{{ 'Pagination'|trans({}, transDomain) }}" data-zhortein--symfony-toolbox-bundle--datatable-target="pagination">
        <!-- Pagination dynamically handled -->
    </nav>
</div>