<div
        data-controller="zhortein--symfony-toolbox-bundle--datatable"
        data-zhortein--symfony-toolbox-bundle--datatable-id-value="{{ datatableId }}"
        data-zhortein--symfony-toolbox-bundle--datatable-mode-value="{{ datatable.cssMode }}"
        data-zhortein--symfony-toolbox-bundle--datatable-pagesize-value="{{ datatable.defaultPageSize }}"
        data-zhortein--symfony-toolbox-bundle--datatable-url-value="{{ path('zhortein_datatable_fetch_data', {'datatableId': datatableId}) }}"
        {{ attributes }}
        class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="error" class="datatable-error hidden"></div>
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="search" class="datatable-search hidden"></div>
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="spinner" class="datatable-spinner hidden">{{ 'datatable.loading'|trans({}, transDomain) }}</div>
    <table class="datatable min-w-full divide-y divide-gray-300">
        <thead>
        <tr>
            {% for column in datatable.columns %}
                {% if column.header.keep_default_classes %}
                    {% if loop.index == 1 %}
                        {% set headerCssClasses = 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0' %}
                    {% else %}
                        {% set headerCssClasses = 'px-3 py-3.5 text-left text-sm font-semibold text-gray-900' %}
                    {% endif %}
                {% endif %}
                {% set headerCssClasses = headerCssClasses ~ ' ' ~ column.header.class %}
                <th
                        scope="col"
                        class="{{ headerCssClasses }}"
                        data-action="click->zhortein--symfony-toolbox-bundle--datatable#sort"
                        data-field="{{ column.name }}"
                        {% for headerKey,headerValue in column.header %}
                            {% if headerKey == 'data' %}
                                {% for dataKey,dataValue in column.header.data %}
                                    {% if dataKey != 'field' and dataKey != 'action' %}
                                        data-{{ dataKey }}="{{ dataValue }}"
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if headerKey not in ['class','data','keep_default_classes','translate'] %}
                                {{ headerKey }}="{{ headerValue }}"
                            {% endif %}
                        {% endfor %}
                >{% if datatable.translationDomain is not empty and column.header.translate %}{{ column.label|trans({}, datatable.translationDomain) }}{% else %}{{ column.label }}{% endif %}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200" data-zhortein--symfony-toolbox-bundle--datatable-target="table">
        <!-- Initial rows will be populated dynamically -->
        </tbody>
        {% if datatable.displayFooter %}
            <tfoot class="" data-zhortein--symfony-toolbox-bundle--datatable-target="footer">
            {# @todo Datatable footer : To be implemented #}
            </tfoot>
        {% endif %}
    </table>
    <nav class="datatable-pagination isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="{{ 'Pagination'|trans({}, transDomain) }}" data-zhortein--symfony-toolbox-bundle--datatable-target="pagination">
        <!-- Pagination dynamically handled -->
    </nav>
</div>