{% set actionChangePage = "click->"~datatable.stimulusControllerName~"#changePage" %}
{% if datatable.cssMode == 'bootstrap' %}
    {% set navCss = '' %}
    {% set ulCss = 'pagination' %}
    {% set liCss = 'page-item' %}
    {% set aCss = 'page-link' %}
    {% set activeCss = 'active' %}

    <nav class="{{ navCss }}" aria-label="{{ 'Pagination'|trans({}, 'zhortein_symfony_toolbox-datatable') }}">
        <ul class="{{ ulCss }}">
            {% if data.pagination.hasPrevious %}
                <li class="{{ liCss }}">
                    <a class="{{ aCss }}" data-page="{{ data.pagination.previous }}" data-action="{{ actionChangePage }}" aria-label="{{ 'Previous'|trans({}, 'zhortein_symfony_toolbox-datatable') }}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
            {% endif %}
            {% for page in data.pagination.pages %}
                <li class="{{ liCss }}">
                    <a class="{{ aCss }}{% if page == data.pagination.current %} {{ activeCss }}{% endif %}" data-page="{{ page }}" data-action="{{ actionChangePage }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}
            {% if data.pagination.hasNext %}
                <li class="{{ liCss }}">
                    <a class="{{ aCss }}" data-page="{{ data.pagination.next }}" data-action="{{ actionChangePage }}" aria-label="{{ 'Next'|trans({}, 'zhortein_symfony_toolbox-datatable') }}">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% elseif datatable.cssMode == 'tailwind' %}
    {% set navCss = 'isolate inline-flex -space-x-px rounded-md shadow-sm' %}
    {% set ulCss = 'pagination' %}

    <nav class="{{ navCss }}" aria-label="{{ 'Pagination'|trans({}, 'zhortein_symfony_toolbox-datatable') }}">
        {% if data.pagination.hasPrevious %}
            <a data-page="{{ data.pagination.previous }}" data-action="{{ actionChangePage }}" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">{{ 'Previous'|trans({}, 'zhortein_symfony_toolbox-datatable') }}</span>
                <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                </svg>
            </a>
        {% endif %}
        {% for page in data.pagination.pages %}
            {% if page == data.pagination.current %}
                <a data-action="{{ actionChangePage }}" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ page }}</a>
            {% else %}
                <a data-action="{{ actionChangePage }}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if data.pagination.hasNext %}
            <a data-page="{{ data.pagination.next }}" data-action="{{ actionChangePage }}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">{{ 'Next'|trans({}, 'zhortein_symfony_toolbox-datatable') }}</span>
                <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            </a>
        {% endif %}
    </nav>

{% else %}
    {% set navCss = '' %}
    {% set ulCss = 'pagination' %}
    {% set liCss = 'page-item' %}
    {% set aCss = 'page-link' %}
    {% set activeCss = 'active' %}

    <nav class="{{ navCss }}" aria-label="{{ 'Pagination'|trans({}, 'zhortein_symfony_toolbox-datatable') }}">
        <ul class="{{ ulCss }}">
            {% if data.pagination.hasPrevious %}
                <li class="{{ liCss }}">
                    <button class="{{ aCss }}" data-page="{{ data.pagination.previous }}" data-action="{{ actionChangePage }}">{{ 'Previous'|trans({}, 'zhortein_symfony_toolbox-datatable') }}</button>
                </li>
            {% endif %}
            {% for page in data.pagination.pages %}
                <li class="{{ liCss }}">
                    <button class="{{ aCss }}{% if page == data.pagination.current %} {{ activeCss }}{% endif %}" data-page="{{ page }}" data-action="{{ actionChangePage }}">
                        {{ page }}
                    </button>
                </li>
            {% endfor %}
            {% if data.pagination.hasNext %}
                <li class="{{ liCss }}">
                    <button class="{{ aCss }}" data-page="{{ data.pagination.next }}" data-action="{{ actionChangePage }}">{{ 'Next'|trans({}, 'zhortein_symfony_toolbox-datatable') }}</button>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

