{% set actionChangePage = "click->"~datatable.stimulusControllerName~"#changePage" %}
{% set ulCss = 'pagination' %}
{% set liCss = 'page-item' %}
{% set aCss = 'page-link' %}
{% set activeCss = 'active' %}

<ul class="{{ ulCss }}">
    {% if data.pagination.hasPrevious %}
        <li class="{{ liCss }}">
            <a class="{{ aCss }}" data-page="{{ data.pagination.previous }}" data-action="{{ actionChangePage }}" aria-label="{{ 'datatable.pagination.previous'|trans({}, transDomain) }}">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
    {% endif %}
    {% for page in data.pagination.pages %}
        <li class="{{ liCss }}">
            <a class="{{ aCss }}{% if page == data.pagination.current %} {{ activeCss }}{% endif %}" data-page="{{ page }}" data-action="{{ actionChangePage }}">
                {{ page }}
            </a>
        </li>
    {% endfor %}
    {% if data.pagination.hasNext %}
        <li class="{{ liCss }}">
            <a class="{{ aCss }}" data-page="{{ data.pagination.next }}" data-action="{{ actionChangePage }}" aria-label="{{ 'datatable.pagination.next'|trans({}, transDomain) }}">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
    {% endif %}
</ul>
