{% set trCss = 'hover:bg-gray-100' %}
{% set tdFirstCss = 'whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0' %}
{% set tdCss = 'whitespace-nowrap px-3 py-4 text-sm text-gray-500' %}

{% for row in data.data %}
    <tr class="{{ trCss }}">
        {% for column in datatable.columns %}
            {% if not column.header.keep_default_classes %}
                {% set tdFirstCss = '' %}
                {% set tdCss = '' %}
            {% endif %}
            {% set tdFirstCss = tdFirstCss ~ ' ' ~ column.dataset.class %}
            {% set tdCss = tdCss ~ ' ' ~ column.dataset.class %}
            <td
                    class="{% if loop.index == 1 %}{{ tdFirstCss }}{% else %}{{ tdCss }}{% endif %}"
                    {% for datasetKey,datasetValue in column.dataset %}
                        {% if datasetKey == 'data' %}
                            {% for dataKey,dataValue in column.dataset.data %}
                                data-{{ dataKey }}="{{ dataValue }}"
                            {% endfor %}
                        {% endif %}

                        {% if datasetKey != 'class' and datasetKey != 'data' and datasetKey != 'keep_default_classes' %}
                            {{ datasetKey }}="{{ datasetValue }}"
                        {% endif %}
                    {% endfor %}
            >{{ attribute(row, column.name) }}</td>
        {% endfor %}
    </tr>
{% endfor %}
