{% set trCss = '' %}
{% set tdFirstCss = '' %}
{% set tdCss = '' %}

{% for row in data.data %}
    <tr class="{{ trCss }}">
        {% if  datatable.options.selectorColumn is defined %}
            <td class="">
                <input type="checkbox" name="row_selector" value="{{ row.0.id }}" />
            </td>
        {% endif %}
        {% for column in datatable.columns %}
            {% if not column.header.keep_default_classes %}
                {% set tdFirstCss = '' %}
                {% set tdCss = '' %}
            {% endif %}
            {% set tdFirstCss = tdFirstCss ~ ' ' ~ column.dataset.class %}
            {% set tdCss = tdCss ~ ' ' ~ column.dataset.class %}
            <td
                    class="{% if loop.index == 1 %}{{ tdFirstCss }}{% else %}{{ tdCss }}{% endif %}"
                    {% for datasetKey,datasetValue in column.dataset %}
                        {% if datasetKey == 'data' %}
                            {% for dataKey,dataValue in column.dataset.data %}
                                data-{{ dataKey }}="{{ dataValue }}"
                            {% endfor %}
                        {% endif %}

                        {% if datasetKey not in ['class','data','keep_default_classes','translate'] %}
                            {{ datasetKey }}="{{ datasetValue }}"
                        {% endif %}
                    {% endfor %}
            >
                {% set fieldValue = attribute(row, column.nameAs) %}
                {% if datatable.translationDomain is not empty and column.dataset.translate %}
                    {% set fieldValue = fieldValue|trans({}, datatable.translationDomain) %}
                {% endif %}
                {% include column.template with {fieldValue: fieldValue, entityObject: row.0, row: row} %}
            </td>
        {% endfor %}
        {% if datatable.options.actionColumn is defined %}
            <td class="">
                {% if datatable.options.actionColumn.template is defined %}
                    {% include datatable.options.actionColumn.template with {row: row, entityObject: row.0} %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
{% endfor %}
