<div data-zhortein--symfony-toolbox-bundle--datatable-target="builder" class="{{ searchBuilder.searchBuilderBarClass }}">
    <div data-zhortein--symfony-toolbox-bundle--datatable-target="filters" class="{{ searchBuilder.searchBuilderFiltersContainerClass }}">
        {# <!-- Conteneur des filtres dynamiques --> #}
    </div>

    <button
            type="button"
            class="{{ searchBuilder.addFilterBtnClass }}"
            data-action="zhortein--symfony-toolbox-bundle--datatable#addFilter"
    >
        {{ 'datatable.search.builder.filter.add'|trans({}, transDomain) }}
    </button>

    <button
            type="button"
            class="{{ searchBuilder.resetFilterBtnClass }}"
            data-action="zhortein--symfony-toolbox-bundle--datatable#clearFilters"
    >
        {{ 'datatable.search.builder.filter.reset'|trans({}, transDomain) }}
    </button>
</div>